* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.result-box {
  width: 500px;
  padding: 20px;
  margin: 25px auto;
  background-color: white;
  box-shadow: 2px 2px 30px 2px rgb(177, 175, 175);
  border-radius: 5px;
}

.result-box h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.result-box p {
  font-size: 20px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 0;
  font-style: italic;
}

.result-box button {
  margin: 25px auto 15px auto;
  display: block;
  font-size: 18px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 5px 30px;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
